* {
  padding: 0;
  margin: 0; }

body {
  font-size: 16px;
  line-height: 1.4;
  font-family: 'Lato', sans-serif;
  color: #333; }

img {
  max-width: 100%; }

h1 {
  font-size: 48px;
  font-weight: 700; }

h2 {
  font-size: 36px;
  font-weight: 700; }

h3 {
  font-size: 32px;
  font-weight: 500; }

h4 {
  font-size: 28px;
  font-weight: 500; }

button {
  outline: 0; }

.clearfix::after {
  content: "";
  clear: both;
  display: block; }

.mobile-nav {
  height: 75px;
  background-color: #28BE9B;
  display: none;
  top: 0;
  width: 100%;
  z-index: 100; }
  .mobile-nav img {
    height: 50px; }
  .mobile-nav .donate {
    padding: 5px 25px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 8px;
    outline-color: #fff;
    width: 35%; }
    .mobile-nav .donate a {
      color: #fff;
      text-decoration: none;
      font-weight: 700; }
  .mobile-nav .donate:hover {
    background: #fff; }
    .mobile-nav .donate:hover a {
      color: #28BE9B; }

.hamburger {
  position: relative;
  border: none;
  background-color: #fff;
  color: #28BE9B;
  outline: 0;
  top: 0;
  border-radius: 4px;
  padding: 3px 6px; }

.hamburger-menu {
  display: none;
  position: absolute;
  top: 60px;
  right: 0px; }
  .hamburger-menu li {
    list-style-type: none; }
    .hamburger-menu li a {
      display: inline-block;
      padding: 10px;
      text-decoration: none;
      background: #28BE9B;
      color: #fff;
      width: 100px;
      text-align: right;
      margin-right: 0; }
    .hamburger-menu li a:hover {
      background: #fff;
      color: #28BE9B;
      font-weight: 700; }

header {
  background-color: #28BE9B; }
  header .desktop-nav {
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    max-width: 960px;
    margin: 0 auto; }
    header .desktop-nav img {
      height: 70px; }
    header .desktop-nav ul {
      position: relative;
      z-index: 100; }
      header .desktop-nav ul li {
        display: inline-block;
        position: relative; }
        header .desktop-nav ul li a {
          color: #fff;
          padding: 5px 0;
          margin: 0 5px;
          text-decoration: none;
          border-bottom: 3px solid transparent; }
        header .desktop-nav ul li a:hover {
          font-weight: 700;
          padding-bottom: 5px;
          border-bottom: 3px solid #fff; }
        header .desktop-nav ul li ul {
          position: absolute;
          top: 28px;
          display: none; }
          header .desktop-nav ul li ul a {
            display: block;
            width: 115px;
            background: #fff;
            padding-left: 5px;
            color: #28BE9B; }
          header .desktop-nav ul li ul a:hover {
            border-bottom-color: transparent;
            background: #28BE9B;
            color: #fff; }
      header .desktop-nav ul li:hover ul {
        display: block; }

#dropdown-menu li {
  margin: 0 !important; }

#donate-button {
  color: #fff;
  border: 1px solid #fff;
  border-radius: 8px;
  padding: 6px 10px; }

#donate-button:hover {
  color: #28BE9B;
  background: #fff;
  border-bottom-color: transparent;
  font-weight: 700; }

.header-images {
  width: 100%;
  margin: 0;
  font-size: 0; }
  .header-images .home-dog {
    height: 255px;
    margin: 0; }
  .header-images img:nth-child(odd) {
    width: 30%;
    height: 255px;
    object-fit: cover; }
  .header-images img:nth-child(even) {
    width: 20%;
    height: 255px;
    object-fit: cover; }

footer {
  clear: both;
  background: #28BE9B;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 1% 5%; }
  footer .contact, footer .email, footer .address {
    color: white;
    font-weight: 300;
    font-size: .9rem; }
    footer .contact a, footer .email a, footer .address a {
      letter-spacing: .01rem;
      color: white;
      text-decoration: none; }
    footer .contact a:hover, footer .email a:hover, footer .address a:hover {
      text-decoration: underline; }

@media (max-width: 767px) {
  header .desktop-nav {
    display: none; }
  header #donate-button {
    display: none; }

  .mobile-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed; }
    .mobile-nav .logo {
      height: 50px; }

  .header-images img:nth-child(even) {
    display: none; }
  .header-images img:nth-child(odd) {
    width: 50%; }

  footer {
    padding: 0 2%;
    font-size: .8rem;
    flex-flow: column; }
    footer .contact {
      display: inline-block;
      width: 100%;
      text-align: center; } }
@font-face {
  font-family: GoodDog;
  src: url("../fonts/GOODDP__.TTF"); }
.hero-slider {
  width: 100vw;
  margin: 0 auto; }
  .hero-slider div img {
    width: 100%;
    height: 500px;
    object-fit: cover; }

.home-content {
  max-width: 1024px;
  margin: 0 auto; }

.welcome {
  margin: 0 auto;
  padding: 0 15px;
  text-align: center; }
  .welcome h1 {
    margin: 5px 0;
    line-height: 1;
    font-weight: 900; }
  .welcome .tagline {
    font-size: 1.15rem;
    padding-bottom: 15px; }

.home-block {
  margin: 0 5px 15px;
  float: left;
  width: 32%;
  height: 475px;
  box-sizing: border-box; }
  .home-block img {
    object-fit: cover;
    border: 1px solid #333;
    box-sizing: border-box; }
  .home-block .home-block-content {
    padding: 10px;
    text-align: center; }
    .home-block .home-block-content h3 {
      font-weight: 700;
      line-height: 1.15; }
  .home-block button {
    background: transparent;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 10px;
    display: block;
    margin: 10px auto;
    font-weight: 700;
    outline: none; }
    .home-block button a {
      color: #fff;
      text-decoration: none; }
  .home-block button:hover {
    background: #fff; }
    .home-block button:hover a {
      color: #28BE9B; }

.adopt {
  background-color: #28BE9B; }

.program {
  background-color: #92DCE0; }

.good-dog {
  background-color: #F98A5F; }

.spotlight, .sign-up {
  height: 225px;
  margin: 0 5px 10px;
  padding: 10px;
  box-sizing: border-box;
  text-align: center; }
  .spotlight button, .sign-up button {
    background: transparent;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 10px;
    display: block;
    margin: 10px auto;
    font-weight: 700;
    outline: none; }
    .spotlight button a, .sign-up button a {
      color: #fff;
      text-decoration: none; }
  .spotlight button:hover, .sign-up button:hover {
    background: #fff; }
    .spotlight button:hover a, .sign-up button:hover a {
      color: #28BE9B; }

.spotlight {
  background-color: #92DCE0;
  width: 58%;
  float: left; }
  .spotlight img {
    float: left;
    display: block;
    border: none;
    width: 35%;
    padding: 10px;
    padding-right: 15px;
    box-sizing: border-box; }
  .spotlight div {
    width: 65%;
    float: left; }
    .spotlight div h3 {
      font-weight: 700;
      line-height: 1.15; }

.sign-up {
  background: #fff0c8;
  width: 39%;
  float: left; }
  .sign-up label {
    display: block;
    padding: 15px 0 0 0; }
    .sign-up label input {
      border: none;
      width: 65%;
      padding: 5px; }
  .sign-up button {
    margin: 15px auto 0; }
    .sign-up button a {
      color: #333; }
  .sign-up h4 {
    font-weight: 700;
    line-height: 1.15;
    font-size: 1.2; }

@media (max-width: 925px) {
  .spotlight, .sign-up {
    height: 260px; } }
@media (max-width: 767px) {
  .home-block, .spotlight {
    margin: 0 5px 15px;
    float: left;
    width: 48%;
    height: 475px;
    box-sizing: border-box; }

  .spotlight img {
    float: none;
    width: 70%;
    margin: auto;
    padding: 10px 0 0; }
  .spotlight div {
    width: 100%;
    padding: 10px;
    text-align: center;
    box-sizing: border-box; }
    .spotlight div button {
      display: block;
      margin: 10px auto; }

  .sign-up {
    width: 98%;
    float: left;
    margin: 1%;
    height: 180px; }
    .sign-up label {
      width: 40%;
      display: inline-block;
      padding: 15px 0 0 0; }
      .sign-up label input {
        width: 94%;
        margin: 0 3%; } }
@media (max-width: 690px) {
  .welcome h1 {
    font-size: 36px; }

  .sign-up {
    height: 210px; } }
@media (max-width: 500px) {
  .hero-slider div img {
    height: 300px; }

  .home-block, .spotlight {
    float: left;
    width: 96%;
    margin: 2%; }

  .spotlight {
    height: 520px; } }
@media (max-width: 360px) {
  .spotlight {
    height: 40px; }

  .sign-up {
    height: 250px; } }
#dogs .section-margin {
  margin: 2% 10%; }

#dogs .div-margin {
  margin: 0% 0%; }

#dogs .div-flex {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  margin-top: 1.75%; }

#dogs article {
  float: left;
  width: 200px;
  margin: 1.75% 3%;
  text-align: center; }

#dogs .dog-images {
  filter: grayscale(100%);
  height: 250px;
  object-fit: cover;
  margin-bottom: -5px;
  width: 100%; }

#dogs .div-color {
  align-items: center;
  display: flex;
  height: 75px;
  justify-content: center;
  width: 100%; }

#dogs article:hover img {
  filter: none; }

#dogs .div-teal {
  background: #5ecfb4; }

#dogs .div-light-blue {
  background: #c8edef; }

#dogs .div-dark-blue {
  background: #88adaf; }

#dogs .div-yellow {
  background: #fff0c8; }

#dogs .div-orange {
  background: #fcc4af; }

#dogs .a-teal {
  background: #28BE9B;
  border-color: #28BE9B; }

#dogs .a-light-blue {
  background: #92DCE0;
  border-color: #92DCE0; }

#dogs .a-dark-blue {
  background: #609194;
  border-color: #609194; }

#dogs .a-yellow {
  background: #FFE192;
  border-color: #FFE192; }

#dogs .a-orange {
  background: #F98A5F;
  border-color: #F98A5F; }

#dogs h5 {
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  color: white;
  font-family: Lato, sans-serif;
  font-size: 20px;
  font-weight: 700;
  padding: 7px 10px;
  z-index: 10; }

#dogs .remodal {
  height: 550px;
  margin: 0 0;
  width: 1000px; }
  #dogs .remodal img {
    float: left;
    height: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 45%; }
  #dogs .remodal article {
    height: auto;
    margin-left: 7%;
    float: right;
    position: relative;
    top: 45%;
    transform: translateY(-50%);
    width: 45%; }
    #dogs .remodal article ul li {
      list-style-type: none; }

#dogs .remodal-teal {
  background-color: #5ecfb4; }

#dogs .remodal-light-blue {
  background-color: #c8edef; }

#dogs .remodal-dark-blue {
  background-color: #88adaf; }

#dogs .remodal-yellow {
  background-color: #fff0c8; }

#dogs .remodal-orange {
  background-color: #fcc4af; }

@media (max-width: 768px) {
  #dogs .remodal {
    height: auto;
    margin: auto;
    width: 80%; }
    #dogs .remodal img {
      float: none;
      height: auto;
      margin: auto;
      transform: none;
      width: 80%; }
    #dogs .remodal article {
      float: none;
      height: auto;
      margin: auto;
      transform: none;
      width: 80%; } }
#adopt article, #volunteer article {
  padding: 2% 15%; }

#adopt ul, #adopt ol, #volunteer ul, #volunteer ol {
  margin-left: 6%; }
  #adopt ul li, #adopt ol li, #volunteer ul li, #volunteer ol li {
    margin: 10px 0; }

.why-adopt h2, .faq h2, .volunteer h2, .foster h2 {
  text-align: left;
  padding-bottom: 2%; }
.why-adopt a, .faq a, .volunteer a, .foster a {
  color: #333;
  text-decoration: none; }
.why-adopt a:hover, .faq a:hover, .volunteer a:hover, .foster a:hover {
  text-decoration: underline; }

.list-header {
  margin-top: 20px;
  font-weight: 700;
  font-size: 1.15rem; }

.avoid-problems {
  background: #c8edef; }
  .avoid-problems .box {
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding: 0 3%; }

.faq button, .faq .panel {
  width: 100%; }
.faq button {
  background: #F98A5F;
  text-align: left;
  padding: 10px 15px;
  border: none;
  margin-bottom: 1px;
  outline: none; }
.faq .panel {
  margin-top: 5px;
  margin-bottom: 15px;
  text-align: left;
  display: none; }
  .faq .panel p {
    padding: 0 10px; }
  .faq .panel p:nth-child(n+2) {
    padding: 10px; }
  .faq .panel a {
    text-decoration: none;
    color: #333; }
  .faq .panel a:hover {
    text-decoration: underline; }

@media (max-width: 767px) {
  #adopt article, #volunteer article {
    padding: 2% 5%; }

  #adopt ul, #adopt ol, #volunteer ul, #volunteer ol {
    margin-left: 3%; }
    #adopt ul li, #adopt ol li, #volunteer ul li, #volunteer ol li {
      margin: 10px 0; }

  .why-adopt h2, .faq h2, .volunteer h2, .foster h2 {
    text-align: left;
    padding-bottom: 1%;
    font-size: 1.5rem; }

  .avoid-problems h2 {
    width: 100%;
    text-align: left;
    padding-bottom: 1%;
    font-size: 1.5rem; }
  .avoid-problems .box {
    width: 100%;
    float: none; } }
.volunteer {
  background: #c8edef; }

.volunteer, .foster {
  max-width: 1024px;
  margin: 0 auto; }

#volunteer form {
  background: #fcc4af;
  padding: 15px 20px;
  border-radius: 8px; }
  #volunteer form label {
    display: block; }
  #volunteer form input {
    border: none;
    outline: none;
    padding: 5px;
    margin-bottom: 15px;
    width: 97%; }
  #volunteer form #submit {
    background: #F98A5F;
    padding: 10px 50px;
    width: 100%; }
  #volunteer form #checked {
    margin: 0 5px 15px;
    width: 5%; }

.form-header {
  font-weight: 900;
  font-size: 2rem;
  width: 80%;
  line-height: 1.2;
  margin-bottom: 15px; }

.form-name {
  width: 48%;
  float: left;
  margin-right: 1%;
  box-sizing: border-box; }

.form-name:nth-of-type(1) {
  margin-right: 3%; }

.content-float {
  width: 60%;
  float: left;
  box-sizing: border-box; }

.form-float {
  width: 40%;
  float: left;
  margin-top: 15px;
  box-sizing: border-box; }

.foster a {
  color: #333;
  text-decoration: none; }
.foster a:hover {
  text-decoration: underline; }

.foster-content {
  margin-top: 15px;
  display: flex;
  justify-content: space-between; }
  .foster-content .foster-agreement {
    height: 300px;
    margin-left: 25px; }
    .foster-content .foster-agreement .list-header {
      margin-top: 0px; }

@media (max-width: 767px) {
  #volunteer {
    margin-top: 75px; }

  .content-float {
    width: 100%;
    float: none; }

  .form-float {
    width: 80%;
    margin: 25px auto;
    float: none; }

  .form-header {
    font-weight: 900;
    font-size: 2rem;
    width: 100%;
    line-height: 1.2;
    margin-bottom: 15px; }

  .foster-content {
    display: block; }

  .foster-agreement {
    width: 400px;
    margin: 2% auto; } }
#about .mission-background {
  background: #c8edef;
  height: auto;
  width: 100%; }
  #about .mission-background .header-padding, #about .mission-background h2, #about .mission-background p {
    padding: 2% 5%;
    max-width: 1024px;
    margin: 0 auto; }

.our-pack {
  padding: 2% 5%;
  max-width: 1024px;
  margin: 0 auto; }

#about .paragraph-padding {
  padding: 0% 10% 2% 10%; }

#about .paragraph-size {
  font-size: 1.25rem; }

#about #signature {
  padding-top: 4%;
  padding-right: 10%;
  float: right; }

#about .header-padding-2 {
  padding: 2% 10% 1% 10%; }

#about .row {
  display: flex;
  justify-content: center; }

#about .bio-left {
  height: auto;
  margin: 3% 5% 3% 10%;
  width: 40%; }
  #about .bio-left img {
    float: left;
    height: auto;
    object-fit: cover;
    width: 40%; }
  #about .bio-left p {
    float: left;
    margin-left: 50px;
    width: 40%; }

#about .bio-right {
  height: auto;
  margin: 3% 10% 3% 5%;
  width: 40%; }
  #about .bio-right img {
    float: left;
    height: auto;
    object-fit: cover;
    width: 40%; }
  #about .bio-right p {
    float: left;
    margin-left: 50px;
    width: 40%; }

#about .name {
  color: #F98A5F;
  font-size: 1.25rem;
  font-weight: 700; }

@media (max-width: 767px) {
  #about .misson-background {
    margin-top: 75px; }
    #about .misson-background .header-padding {
      border: 10px solid blue; }

  #about .row {
    flex-wrap: wrap; }

  #about .bio-left {
    height: auto;
    margin: 3% auto;
    width: 80%; }

  #about .bio-right {
    height: auto;
    margin: 3% auto;
    width: 80%; } }

/*# sourceMappingURL=style.css.map */
