#about .mission-background {
  background: $light-blue-opacity;
  height: auto;
  width: 100%;

  .header-padding, h2, p {
    padding: 2% 5%;
    max-width: 1024px;
    margin: 0 auto;
  }
}

.our-pack {
  padding: 2% 5%;
  max-width: 1024px;
  margin: 0 auto;

  .name {
    display: block;
    margin-bottom: 10px;
  }
}

#about .paragraph-padding {
  padding: 0% 10% 2% 10%;
}

#about .paragraph-size {
  font-size: 1.25rem;
}

#about #signature {
  padding-top: 4%;
  padding-right: 10%;
  float: right;
}

#about .header-padding-2 {
  padding: 0 3%;
}

#about .row {
  display: flex;
  justify-content: center;
}

#about .bio-left {
  height: auto;
  margin: 3%;
  width: 47%;

  img {
    float: left;
    height: auto;
    object-fit: cover;
    width: 45%;
  }

  p {
    float: left;
    margin-left: 20px;
    width: 48%
  }
}

#about .bio-right {
  height: auto;
  margin: 3%;
  width: 47%;

  img {
    float: left;
    height: auto;
    object-fit: cover;
    width: 45%;
  }

  p {
    float: left;
    margin-left: 20px;
    width: 48%
  }
}

#about .name {
  color: $orange;
  font-size: 1.25rem;
  font-weight: 700;
}

@media (max-width: 767px) {

  #about {
    // margin-top: 75px;
    .misson-background {
      margin-top: 75px;
      .header-padding {
        border:10px solid blue;
      }
    }
  }
  #about .row {
    flex-wrap: wrap;
  }

  #about .bio-left, #about .bio-right {
    height: auto;
    margin: 2%;
    width: 96%;
  }
}
