@font-face {
  font-family: GoodDog;
  src:url('../fonts/GOODDP__.TTF');
}

.hero-slider {
  width: 100vw;
  margin: 0 auto;
  // position: relative;
  // z-index: -10;
  div {
    // height: 300px;
    // width: 80%;
    // margin: 0 auto;
    // object-fit: cover;
    img {
      width:100%;
      height:500px;
      object-fit: cover;
    }
  }
}

.home-content {
  max-width: 960px;
  margin: 0 auto;
}

.welcome {
  margin: 0 auto;
  padding: 0 15px;
  text-align: center;
  h1 {
    margin: 5px 0;
    line-height: 1;
    font-weight: 900;
  }
  .tagline {
    font-size: 1.15rem;
    padding-bottom: 15px;
  }
}

.home-block {
  margin: 0 5px 15px;
  float: left;
  width: 32%;
  height: 475px;
  box-sizing: border-box;
  img {
    object-fit: cover;
    border:1px solid #333;
    box-sizing: border-box;
  }
  .home-block-content {
    padding: 10px;
    text-align: center;
    h3 {
      font-weight: 700;
      line-height: 1.15;
    }
  }
  button {
    background: transparent;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 10px;
    display: block;
    margin: 10px auto;
    font-weight: 700;
    outline:none;
    a {
      color: #fff;
      text-decoration: none;
    }
  }
  button:hover {
    background:#fff;
    a{
      color:$teal;
    }
  }
}

.adopt {
  background-color: $teal;
}

.program {
  background-color: $light-blue;
}

.good-dog {
  background-color: $orange;
}

// .matchmaker {
//   background-color: $yellow-opacity;
//   clear:both;
//   button {
//     color: #333;
//   }
// }

.spotlight {
  background-color: $light-blue;
  margin: 0 5px 15px;
  width: 58%;
  float:left;
  clear:both;
  height:210px;
  img {
    float:left;
    display: block;
    border: none;
    width: 30%;
    padding: 35px 10px 10px;
    padding-right:15px;
    box-sizing: border-box;
  }
  div {
    width: 70%;
    float:left;
    padding: 15px 0;
    h3 {
      font-weight: 700;
      line-height: 1.15;
    }
    button {
      background: transparent;
      border: 1px solid #fff;
      border-radius: 4px;
      padding: 10px;
      display: block;
      margin: 10px 0;
      font-weight: 700;
      outline:none;
      a {
        color: #fff;
        text-decoration: none;
      }
    }
    button:hover {
      background:#fff;
      a{
        color:$teal;
      }
    }
  }
}

.sign-up {
  background:$yellow-opacity;
  width: 40%;
  float:left;
  height:210px;
  padding: 10px;
  box-sizing: border-box;
  h4 {
    font-weight: 700;
    line-height: 1.15;
    font-size: 1.2;
  }
}

///////////////////////////
// Media Queries///////////
//////////////////////////

@media (max-width: 767px){
  .home-block {
    margin: 0 5px 15px;
    float: left;
    width: 48%;
    // height: 475px;
    box-sizing: border-box;
  }
}

@media (max-width:500px) {
  .home-block {
    float: left;
    width: 100%;
    // height: 475px;
  }
}
